<footer class="card-footer">
    <div class="container ">
        <div class="row ">

            <div class="col-sm-8 col-md-5">
                <ul>
                    <li>lundi:  7h30-12h30/15h30-19h30</li>
                    <li>mardi:  Fermé</li>
                    <li>mercredi:  7h30-12h30/15h30-19h30</li>
                    <li>jeudi:  7h30-19h30</li>
                    <li>vendredi:  7h30-12h30/15h30-19h30</li>
                    <li>samedi:  7h30-12h30/15h30-19h30</li>
                    <li>dimanche:  7h30-12h00</li>
                </ul>
            </div>


            <div class="col-xs-6 col-md-3">
                <h6>Plan du site</h6>
                <ul>
                    <li>Accueil</li>
                    <li>Nos produits</li>
                    <li>Tourisme</li>
                    <li>inscription</li>
                    <li>connexion</li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3 text-center">
                <h6>Coordonnées</h6>
                <ul>
                    <li>Epicerie Du Canal</li>
                    <li>39 route du canal</li>
                    <li>71710 Ecuisses</li>
                </ul>
            </div>



        </div>
    </div>
</footer>