

{# Footer #}
<footer class="site-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex justify-content-around p-5 flex-wrap">

                <a class="nav-link" href="https://www.facebook.com/epicerie.ducanal.7" target="_blank">            <img class="img-thumbnail" src="{{ asset('images/home-icons/faceboof.png') }}" alt="lien vers le profil facebook de l'Epicerie Du Canal"></a>

                    <nav class="footer_links">
                         <ul>
                             <li><a href="#" title="page des mentions légales">Mentions Légales</a></li>
                            <li><a href="#" title="page des C.G.U">C.G.U.</a></li>
                        </ul>
                   </nav>

            </div>
        </div>
    </div>
</footer>



