{# Utilisation du squelette "base.html.twig" #}
{% extends "base.html.twig" %}

{# Définition du titre de la page #}
{% block title%}Contact{% endblock %}

{# Remplissage du body de la page #}
{% block body %}


    {# cards de titre et présentation #}
    <div class="card col-12 col-lg-7 mx-auto my-5 p-3 ">
        <div class="card-header text-center ">
            <h1 class="fs-4"><i class="fa-regular fa-address-card mx-1"></i>Contact</h1>
        </div>
            <div class="card-body">
                <p class=" p-2 m-2 fs-4 text-center">Epicerie Du Canal 39 route du canal 71710 Ecuisses</p>
                   <ul class="schedule p-2 m-2 fs-5 text-center lt">
                       <li>lundi:  7h30-12h30/15h30-19h30</li>
                       <li>mardi:  Fermé</li>
                       <li>mercredi:  7h30-12h30/15h30-19h30</li>
                       <li>jeudi:  7h30-19h30</li>
                       <li>vendredi:  7h30-12h30/15h30-19h30</li>
                       <li>samedi:  7h30-12h30/15h30-19h30</li>
                       <li>dimanche:  7h30-12h00</li>
                   </ul>
                <p class=" p-2 m-2 fs-6 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet animi culpa delectus deserunt dolorum facere facilis iste minus necessitatibus nemo nihil praesentium, sapiente, tempore voluptatibus. Magnam tenetur ut voluptates. ipsum dolor sit amet, consectetur adipisicing elit. Cumque deserunt ea esse porro quia reprehenderit voluptatem? Atque dolorem perferendis sed?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet ea ex maxime nam natus nihil quia sit. Aliquam beatae cumque ea enim minus numquam
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, hic inventore? Ad aliquam amet animi atque dolor dolorem doloremque eveniet iste mollitia odio, odit quas, quos sed similique soluta voluptatem.</span><span>Accusantium aliquid amet atque culpa delectus deserunt dicta doloremque earum ex expedita id in, laboriosam laborum maiores modi nemo nobis odio quaerat, quisquam reiciendis sunt ullam unde ut velit, vero.</span><span>Earum enim et in nesciunt quis! Deserunt eius harum minus mollitia nesciunt obcaecati voluptatum! Dignissimos dolores exercitationem fugit harum ipsum porro sapiente. Culpa eveniet, impedit iusto laboriosam quas sapiente suscipit?</span><span>Consequuntur distinctio eum incidunt ipsum nihil perspiciatis quo recusandae tenetur velit voluptas! Atque autem dignissimos dolore, dolorem doloremque facere fugit mollitia nam quo rem repudiandae rerum ut voluptatum! Delectus, ipsam!</span></p>
            </div>
    </div>
{% endblock %}