{# Utilisation du squelette "base.html.twig" #}
{% extends "base.html.twig" %}

{# Définition du titre de la page #}
{% block title%}Nos-produits{% endblock %}

{# Remplissage du body de la page #}
{% block body %}
    {# Grille Bootstrap #}
    <div class="container-fluid">


{# Carousel: présentation générale de l'épicerie, avec textes#}
{#        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">#}
{#            <div class="carousel-indicators">#}
{#                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>#}
{#                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>#}
{#                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>#}
{#            </div>#}

{#            <div class="carousel-inner">#}
{#                #}{# slide 1 #}
{#                <div class="carousel-item active">#}
{#                    <img src="..." class="d-block w-100" alt="...">#}
{#                    <div class="carousel-caption d-none d-md-block">#}
{#                        <h5>First slide label</h5>#}
{#                        <p>Some representative placeholder content for the first slide.</p>#}
{#                    </div>#}
{#                </div>#}
{#                #}{# slide 2 #}
{#                <div class="carousel-item">#}
{#                    <img src="..." class="d-block w-100" alt="...">#}
{#                    <div class="carousel-caption d-none d-md-block">#}
{#                        <h5>Second slide label</h5>#}
{#                        <p>Some representative placeholder content for the second slide.</p>#}
{#                    </div>#}
{#                </div>#}
{#                #}{# slide 3 #}
{#                <div class="carousel-item">#}
{#                    <img src="..." class="d-block w-100" alt="...">#}
{#                    <div class="carousel-caption d-none d-md-block">#}
{#                        <h5>Third slide label</h5>#}
{#                        <p>Some representative placeholder content for the third slide.</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

{#            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">#}
{#                <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#                <span class="visually-hidden">Previous</span>#}
{#            </button>#}
{#            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">#}
{#                <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#                <span class="visually-hidden">Next</span>#}
{#            </button>#}
{#        </div>#}

        {# titre principal #}
{#    <div id="configs" class="my-5">#}

{#        <h2 class="mb-3 text-uppercase"><i class="fa-solid fa-wrench me-3"></i>Les configs du moment</h2>#}


{# cards de titre et présentation #}
        <div class="card col-12 col-lg-7 mx-auto my-5 p-3 ">
            <div class="card-header text-center ">
                <h1 class=""><i class="fa-solid fa-plate-wheat me-3"></i>Nos produits</h1>
            </div>
            <div class="card-body">
                <p class=" p-2 m-2 fs-5 text-center">Depuis 2014, votre épicier s'efforce de réunir des produits frais et de qualités.
                        Nous vous accueillons, avec plaisir, pour vous proposer des articles classiques de première nécessité; ainsi qu'une sélection de producteurs locaux.
                Charcuterie et fromages à la coupe.</p>
                <p class=" p-2 m-2 fs-5 text-center">Pour vos réunions entre amis ou en familles: des plateaux composés sont à proposer.
                    À base de légumes, fromages et charcuteries de terroir.</p>
                <p class=" p-2 m-2 fs-6 text-center">Nous sommes en mesure de livrer jusqu'à cinq articles.</p>
            </div>
        </div>


{# cards : présentation des 6 produits locaux #}
        <div class="row d-flex justify-content-around align-content-around flex-wrap p-3">

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../images/honey.jpg " class="img-fluid rounded-start" alt="pot de miel">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Miel de Serge</h5>
                            <p class="card-text"> A Ecuisses même: monsieur Gauthier vous livre la production de ses abeilles.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../images/wine.jpg" class="img-fluid rounded-start" alt="bouteille de vin">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Vins de Mazenay et Mercurey</h5>
                            <p class="card-text">Le bourgogne-côte-chalonnaise est un vin de Bourgogne.
                                Son aire de production est située au nord de la Saône-et-Loire, à une dizaine de kilomètres à l'ouest de Chalon-sur-Saône.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../images/jam.jpg" class="img-fluid rounded-start" alt="pot de confiture">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Confiture de Mamie Soize</h5>
                            <p class="card-text">La saison des confitures va battre son plein, courte, mais tellement riche de plaisir et d'audace. 15 juin–15 septembre.La délicatesse des saveurs mêlées, le luxe et le raffinement des couleurs, l'originalité des consistances.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../images/froot&vegetable.jpg" class="img-fluid rounded-start" alt="fruits et légumes">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Fruits & légumes</h5>
                            <p class="card-text"> Vincent Geny: maraicher, producteur de légumes en vente directe, cueillette libre au potager.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../images/the cutting.jpg" class="img-fluid rounded-start" alt="charcuterie a la coupe">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Charcuterie </h5>
                            <p class="card-text">C'est chez Mr Chapuis et Mr Ducerf que votre épicier fait sa selection de charcuterie Bourguignonne. </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../images/cheese.jpg" class="img-fluid rounded-start" alt="fromage de chèvre">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Fromages de chèvre</h5>
                            <p class="card-text">Fromages de chèvre fermiers au lait cru, yaourts au lait de chèvre.Bienvenue à la Ferme de la Cruzille ! C'est avec plaisir que nous vous accueillons afin de vous faire découvrir notre élevage et nos produits. </p>
                        </div>
                    </div>
                </div>
            </div>



        </div>





    </div>




{% endblock %}