{# Utilisation du squelette "base.html.twig" #}
{% extends "base.html.twig" %}

{# Définition du titre de la page #}
{% block title%}Nos-produits{% endblock %}

{# Remplissage du body de la page #}
{% block body %}

    {# Grille Bootstrap #}
    <div class="container-fluid">


{# cards de titre et lien page d'accueil: logo+accroche #}
        <div class="card col-md-10 mx-auto my-5 p-3 ">
            <div class="card-header text-center ">
                <h1 class="fs-4"><i class="fa-solid fa-plate-wheat me-3"></i>Nos produits</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="d-flex justify-content-center flex-wrap">

                <img class="img-thumbnail" id="eat" src="{{ asset('images/home-icons/eat.png') }}" alt="se restaurer">
                <p class="align-self-center m-4">Nous vous proposons un emplacement: pour vous restaurer en toute décontraction.<br>Des articles classiques de première nécessité; ainsi qu'une sélection de producteurs locaux.</p>


                <img class="img-thumbnail" id="fresh" src="{{ asset('images/home-icons/fresh-products.png') }}" alt="lien vers produits frais">
                <p class="align-self-center m-4">Des produits gages de qualité.</p>
                    </div>
                </div>
            </div>
        </div>


{# cards : présentation des 6 produits locaux #}
        <div class="row d-flex justify-content-around align-content-around flex-wrap p-3">

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../images/honey.jpg " class="img-fluid rounded-start" alt="pot de miel">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Miel de Serge</h5>
                            <p class="card-text"> A Ecuisses même: monsieur Gauthier vous livre la production de ses abeilles.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../images/wine.jpg" class="img-fluid rounded-start" alt="bouteille de vin">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Vins de Mazenay et Mercurey</h5>
                            <p class="card-text">Le bourgogne-côte-chalonnaise est un vin de Bourgogne.
                                Son aire de production est située au nord de la Saône-et-Loire, à une dizaine de kilomètres à l'ouest de Chalon-sur-Saône.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../images/jam.jpg" class="img-fluid rounded-start" alt="pot de confiture">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Confiture de Mamie Soize</h5>
                            <p class="card-text">A Montceau-Les-Mines, la saison des confitures va battre son plein, courte, mais tellement riche de plaisir et d'audace.La délicatesse des saveurs mêlées, le luxe et le raffinement des couleurs, l'originalité des consistances.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../images/froot&vegetable.jpg" class="img-fluid rounded-start" alt="fruits et légumes">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Fruits & légumes</h5>
                            <p class="card-text"> Vincent Geny réside a Marmagnes: maraicher, producteur de légumes en vente directe, cueillette libre au potager.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../images/the cutting.jpg" class="img-fluid rounded-start" alt="charcuterie a la coupe">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Charcuterie </h5>
                            <p class="card-text">C'est chez Mr Chapuis et Mr Ducerf que votre épicier fait sa selection de charcuterie Bourguignonne. </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../images/cheese.jpg" class="img-fluid rounded-start" alt="fromage de chèvre">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Fromages de chèvre</h5>
                            <p class="card-text">Fromages de chèvre fermiers au lait cru, yaourts au lait de chèvre.Bienvenue à la Ferme de la Cruzille ! C'est avec plaisir que nous vous accueillons afin de vous faire découvrir notre élevage et nos produits. </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
{% endblock %}