{# Utilisation du squelette "base.html.twig" #}
{% extends "base.html.twig" %}

{# Définition du titre de la page #}
{% block title%}Tourisme{% endblock %}

{# Remplissage du body de la page #}
{% block body %}

    {# Grille Bootstrap #}
    <div class="container-fluid">

        {# cards de titre et lien page d'accueil: logo+accroche#}
        <div class="card col-md-10 mx-auto my-5 p-3 ">
            <div class="card-header text-center ">
                <h1 class="fs-4"><i class="fa-solid fa-shoe-prints mx-1"></i>Tourisme</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="d-flex justify-content-center flex-wrap">
                        <img class="img-thumbnail" id="shoe" src="{{ asset('images/home-icons/tent.png') }}" alt="tente">
                        <p class="align-self-center m-4">Venez profiter d'un repos bien mérité dans un terrain privé de 100m²; avec sanitaires.</p>

                        <img class="img-thumbnail" id="bike" src="{{ asset('images/home-icons/bike-parking.png') }}" alt="lien vers parking à vélo">
                        <p class="align-self-center m-4">Garages a vélos sécurisés</p>

                        <img class="img-thumbnail" id="fish" src="{{ asset('images/home-icons/fishing-license.png') }}" alt="pêche">
                        <p class="align-self-center m-4">Achetez votre permis de pêche et quelques appâts</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}