/*Police d'écriture*/
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/*body*/
body{
    font-family: 'Prata', sans-serif;
    }

/*menu principal*/
.main-navbar-color{
    background: #A6C1A5;
}
.main-navbar-logo{
    width: 55px;
    margin-right: 20px;
}

/*bannière et titre de la  page d'accueil*/
.banner {
    height: 500px;
    background-image: url("../images/picture-vegetables .png");
    background-size: cover;
    filter:  contrast(65%);
    }

h2{
    font-weight: bold;
    font-size: 6rem;
    text-shadow: 3px 3px 7px rgba(255, 255, 255, 1);
}
h1{
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 3px 3px 7px rgba(255, 255, 255, 1);
}
.subtitle{
    font-family: 'Satisfy', cursive;
}






/*@media (max-width: 480px) {*/
/*    .banner h1 {*/
/*        width: 100%;*/
/*    }*/
/*}*/



    /*!*Styles spécifiques pour les écrans de taille moyenne type tablette*!*/
    /*@media screen and (min-width: 780px) and (max-width: 979px){*/

    /*    !*Styles spécifiques pour les grands écrans type écrans d'ordinateur*!*/
    /*    @media screen and (min-width: 980px){*/
    /*}*/