/*Police d'écriture*/
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/*body*/
body{
    font-family: 'Prata', sans-serif;
    background:#A6C1A5 ;
    }

/*menu principal*/
.main-navbar-color{
    background:#A6C1A5 ;
}
.main-navbar-logo{
    width: 55px;
    margin-right: 20px;
}

/*bannière et titre de la  page d'accueil*/
.banner {
    height: 500px;
    background-image: url("../images/picture-vegetables .png");
    background-size: cover;
    filter: contrast(65%);
    }

h1, h3{
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 3px 3px 7px rgba(255, 255, 255, 1);
}
h2{
    font-weight: bold;
    font-size: 6rem;
    text-shadow: 3px 3px 7px rgba(255, 255, 255, 1);
}

.subtitle{
    font-family: 'Satisfy', cursive;
}

/*Page 'Nos produits'*/
/*titres des cards produits locaux*/
.card-title{
    color: #0e8c0a;
}

/*page 'Tourisme'*/
.container img{
    float: left;
    width: 200px;
    margin: 10px 30px;

}


/*page 'Contact'*/
.schedule{
    list-style-type: none;
}


/*!*footer*!*/
/*icône faccebook*/
.nav-link{
    width: 60px;
}

.site-footer{
    background-color: #9fb2a3;

}


/*MEDIA QUERIES*/
    /*Pour un format mobile*/
@media(max-width:767px){
    h2 {
        display: none;
    }
    h1,h3 {
        font-size: 3.5rem;
    }
}

    /*Pour un format tablette*/
/*@media(min-width:768px){

} */




























