{# Utilisation du squelette "base.html.twig" #}
{% extends "base.html.twig" %}

{# Définition du titre de la page #}
{% block title%}Problème interne au server : erreur 500{% endblock %}

{# Remplissage du body de la page #}
{% block body %}

    {# Grille Bootstrap #}
    <div class="container-fluid">

        <div class="row">
            <div class="col-12 text-center">
                <img src="{{ asset('images/500.png') }}" alt="Erreur 500, problème interne au server" class="img-fluid my-5">
            </div>

        </div>

    </div>
{% endblock %}